.listOfCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  margin-bottom: 30px;
}

.allButtonSection {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.allButton {
  width: auto;
  height: auto;
  padding: 10px;
  color: #0E5EA3;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  border: none;
  background-color: transparent;
}