.card {
  width: calc(100% / 4 - 35px);
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card img {
  width: 100%;
  transform: rotate(8deg);
  margin-bottom: 25px;
}

.levelButtons {
  width: 100%;
  padding: 20px 60px;

  border: none;
  border-radius: 30px;
  color: #fff;
  background-color: #68C052;
}

.cardContext {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px
}